@import '../../styles/settings';

.container-profil {
    background-color: $secondary;
    width: 600px;
    margin-inline: auto;
    padding: 30px 0;
    border-radius: 20px;
}

.title {
   @include flex-center
}

.img-profil {
    @include flex-center
}

.img-profil img {
    max-width: 300px;
    max-height: 300px;
}

.bio-profil {
    @include flex-center
}

.bio-text {
    @include flex-center
}

