@import '../styles/settings';

.login {
    width: 30px;
    height: 30px;
    position: relative;
    right: -30px;
    bottom: 150px;
}

.logo {
    @include flex-center;
}

.welcome-text {
    margin-left: 20px;
    font-size: 30px;
}