@import '../../styles/settings';

.post-container {
    background-color: $secondary;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}


.pseudo-feed {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

button {
    cursor: pointer;
    background-color: $primary;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    border: 0;
    &:hover {
        color: #000;
    }
}

textarea {
    height: 100px;
    background-color: rgba(242, 70, 99, 0.42);
    border-radius: 20px;
    padding: 20px;
    padding-right: 100px;
    margin: 10px;
    font-size: 20px;
}